

<nav>
    <ul>
      <li>
        <a href="/index.html">
          <object
            type="image/svg+xml"
            data="/src/main/webapp/icon/salir.svg"
            class="lightIcon"
            alt="salir de la aplicación"
            style="pointer-events: none"
          ></object>
        </a>
      </li>
      <li>
        <a href="/views/actividades/buscar.html">"/>
          <object
            type="image/svg+xml"
            data="/src/main/webapp/icon/search.svg"
            class="lightIcon"
            alt="Buscar actividades"
            style="pointer-events: none"
          ></object>
        </a>
      </li>
      <li>
        <a href="/views/usuarios/private/ver.html">
          <object
            type="image/svg+xml"
            data="/src/main/webapp/icon/account.svg"
            class="lightIcon"
            style="pointer-events: none"
          ></object>
        </a>
      </li>
    </ul>
  </nav>