



<html>


<body>


<main>

</main>

    
</body>
</html>


<html lang="es">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/views/common/favicon.ico" />
    <link rel="stylesheet" href="/styles.css" />
    <title>SportMe!</title>
  </head>
  <body>
    <header class="encabezado">
      <h3>
        SportMe! <br />
        Haz deporte | Haz amigos
      </h3>
    </header>
    <nav>
      <ul>
        <li>
          <a href="/index.html">
            <object
              type="image/svg+xml"
              data="/src/salir.svg"
              class="lightIcon"
              alt="salir de la aplicación"
              style="pointer-events: none"
            ></object>
          </a>
        </li>

        <li>
          <a href="/views/actividades/buscar.html">
            <object
              type="image/svg+xml"
              data="/src/search.svg"
              class="lightIcon"
              alt="Buscar actividades"
              style="pointer-events: none"
            ></object>
          </a>
        </li>
        <li>
          <a href="/views/usuarios/private/ver.html">
            <object
              type="image/svg+xml"
              data="/src/account.svg"
              class="lightIcon"
              style="pointer-events: none"
            ></object>
          </a>
        </li>
      </ul>
    </nav>
    <main class="main">
      <h1>Buscar actividades</h1>

      <form class="form" method="post" action="">
        <table>
          <tr>
            <td>
              <label for="desplDeportes">Tipo de actividad</label>
            </td>
          </tr>
          <tr>
            <td>
              <select name="desplDeportes" id="desplDeportes">
                <option value="bádminton">Bádminton</option>
                <option value="baloncesto">Baloncesto</option>
                <option value="ciclismo">Ciclismo</option>
                <option value="fútbol-7">Fútbol 7</option>
                <option value="fútbol">Fútbol</option>
                <option value="patinaje">Patinaje</option>
                <option value="running">Running</option>
                <option value="senderismo">Senderismo</option>
                <option value="voleyball">Voleyball</option>
                <option value="otros">Otros (añadir en comentarios)</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label class="formLabel" for="fecha">Fecha y hora</label></td>
          </tr>
          <tr>
            <td>
              <input
                id="fecha"
                type="datetime-local"
                class="formInput"
                name="fecha"
              />
            </td>
          </tr>
          <tr>
            <td>
              <button class="lightButton" type="reset">Borrar criterios</button>
            </td>
          </tr>
          <tr>
            <td>
              <a href="/views/actividades/mostrar.html" target="_self">
                <button class="darkButton">Buscar actividades</button>
              </a>
            </td>
          </tr>
        </table>
      </form>

      <div class="resultsDiv"></div>
    </main>

    <footer class="footer">
      <p class="copyright">SportMe! - Todos los derechos reservados &copy;</p>
    </footer>
  </body>
</html>
